.kosar{
    float: right;
}
.rola{
    float: left;
    width: 60%;
    margin-top: 40px;
}
body{
    background-color: orange;
}
nav{
    margin-bottom: 200px;
}
.kosar{
    margin-top: -200px;
    background-color: white;
}